@font-face {
    font-family: 'Tienne';
    src: url('Tienne-Black.woff2') format('woff2'),
        url('Tienne-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tienne';
    src: url('Tienne-Bold.woff2') format('woff2'),
        url('Tienne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tienne';
    src: url('Tienne-Regular.woff2') format('woff2'),
        url('Tienne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

